.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 151, 25);
}
.bascket {
  position: relative;
}
.bascket span {
  position: absolute;
  right: -14px;
  background-color: rgb(208, 255, 0);
  padding: 3px 7px;
  border-radius: 50%;
  font-weight: bold;
}
.footer {
  background-color: rgb(255, 151, 25);
  text-align: center;
  padding: 15px 10px;
  font-weight: bolder;
  font-size: xx-large;
  margin-top: 20px;
}
.body {
  min-height: 100vh;
}
h3 {
  cursor: pointer;
}
